<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658953561011-j2vc612u0ieb9qnc5549i8lfhu3n8gf7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658953561011-j2vc612u0ieb9qnc5549i8lfhu3n8gf7</string>
	<key>API_KEY</key>
	<string>AIzaSyCCCjxQZEu5uu3MqWZJruU1CgZ03LyvAng</string>
	<key>GCM_SENDER_ID</key>
	<string>658953561011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.uic.eum.seorak</string>
	<key>PROJECT_ID</key>
	<string>seorakhaeyo</string>
	<key>STORAGE_BUCKET</key>
	<string>seorakhaeyo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658953561011:ios:367cbd9f1e487ab436a1c6</string>
</dict>
</plist>